.page-title {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.nav-color {
  background-color: #03040F;
}

.message {
  font-family:'Fjalla One', sans-serif;
}

.message-pin {
  font-family:'Fjalla One', sans-serif;
  margin-top: 1.5rem;
}
